NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=xxxxx
CLERK_SECRET_KEY=xxxxx
NEXT_PUBLIC_CLERK_SIGN_IN_URL=xxxxx
NEXT_PUBLIC_CLERK_SIGN_UP_URL=xxxxx
NEXT_PUBLIC_CLERK_SIGN_IN_FORCE_REDIRECT_URL=xxxxx
NEXT_PUBLIC_CLERK_SIGN_UP_FORCE_REDIRECT_URL=xxxxx