.App {
  /* background-color: snow; */
}

.DayLabels {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 0.5em;

}
.DayLabels > * {
  color: gray;
  text-align: center;
  background: lightgray;
}

.DaysGrid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: minmax(125px, auto);
  grid-gap: 0.5em;
}
.DaysGrid > * {
  background: lightpink;
}